// CSS Overlay
.image {
    &.is-responsive {
        width: 100%;
        height: 100%;
        display:block;
    }
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.hovereffect:hover .overlay,
.hovereffect.hasHover .overlay {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}



// General stuff

.has-text-more-red {
    color: #93230a !important;
}

.bodyWrapper {
    min-height: 91vh;
}

.iconFooter a, .iconFooter a:hover, .iconFooter a:visited {
    color: black;
}

// Home Page
.avatar {
    border-radius: 50%;
    border: 5px solid white;
    width: 11rem;
    height: 11rem;
}

.introHome {
    &.hero-body {
        display: flex;
    }
    &.introColumn {
        align-self: center;
    }
    &.is-divider-vertical::before {
        border-left: 0.3rem solid white;
    }
    @include mobile {
        &.is-divider-vertical {
        border-top: 0.2rem solid white;
        }
    }
}

.shadow {
    &.is-success {
        box-shadow: inset 0 -6px 0 rgba(35,209,153,.4);
    }
    &.is-warning {
        box-shadow: inset 0 -6px 0 rgba(255,221,87,.4);
    }
    &.is-danger {
        box-shadow: inset 0 -6px 0 rgba(255,74,110,.4);
    }
    &.is-turquoise {
        box-shadow: inset 0 -6px 0 rgba(36,177,209,.4);
    }
    &.is-purple {
        box-shadow: inset 0 -6px 0 rgba(184,107,255,.4);
    }
    &.is-black {
        box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.4);
    }
    &.is-orange {
        box-shadow: inset 0 -6px 0 rgba(242, 84, 0, 0.4);
    }
    &.is-primary {
        box-shadow: inset 0 -6px 0 rgba(197, 152, 89, 0.4);
    }
}

.afterIntro {
    &.introImg {
        margin-bottom: -9rem;
    }
    &.hero {
        padding-bottom: 5rem;
        @include mobile {
            padding-top: 0rem;
            padding-bottom: 25rem;
        }
    }
}

.afterSkill {
    &.hero {
        @include mobile {
            padding-bottom: 15rem;
        }
    }
}
.section {
    &.skills {
        margin-top: -17rem;
        @include mobile {
            margin-top: -22rem;
        }
    }
    &.skills ul {
        margin-left: 0;
        list-style: none;
    }
    &.project {
        margin-top: -20rem;
        @include mobile {
            margin-top: -24rem;
        }
    }
    &.service {
        margin-top: -12rem;
    }
}

.projectImg {
    margin-bottom: -2rem;
}

.testimonial {
    margin-top: -5rem;
    @include mobile {
        margin-top: -5rem;
    }
}

.testimonialImg, .contactImg {
    margin-bottom: -3.25rem;
}

.serviceImg {
    margin-bottom: -2rem;
}

.message-body {
    &.titleHomePage {
        padding: 0;        
    }
}
